<section class="py-2">
   <div class="row">
       <div class="col-md-6 text-center">
           <h1 class="display-3 mt-3 pt-5">
               Web Development Ebook
           </h1><p class="lead">learn web Development</p>
            <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_lVPYzu2EBPLurMCLJOtIXN4800bUrrdt9w"
          data-amount="2500"
          data-name="Web Development Ebook"
          data-description="Ebook written by Enel"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $25</button>
      </form>
       </div>
       <div class="cols-md-6">
           <img src="/img/book.png" alt="" class="img-fluid">

       </div>
   </div> 
</section>