<section class="py-5">
    <hi class="display-3">
        Thank You
    </hi> 
    <p class="lead">
        your ebook would be sent soon
    </p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>